@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Rubik&display=swap');

$primary-color: #0F4C81;
$secondary-color: #FC8686;
$background-color: #F5F5F5;
$primary-font: 'Rubik', sans-serif;
$secondary-font: 'Fredoka One', sans-serif;
$white: #FFF;
$light-grey: #CCCCCC;
$medium-grey: #AFAFAF;
$tablet-width: 768px;
$desktop-width: 1366px;


body {
  background-color: $background-color;
}

h1, h2, h3, h4, h5, p, a {
  font-family: $primary-font;
}

a {
  color: $medium-grey;
  text-decoration: none;
  transition: .3s linear all;
  &:hover {
    color: $secondary-color;
  }
}